# CMake
/build/
/build_test/
/out/
/CMakeUserPresets.json

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.doccache
*.suo

# vcpkg
vcpkg_installed/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS files
.DS_Store
Thumbs.db

# Project specific
/test_find.cmake
/test_output.txt
/config_output.txt
/config_output_2.txt
/config_output_utf8.txt
